@(user: String)

@main("TRC - Contact Us")(user) {

	<br/><br/><br/>
    <h4>Contact Us</h4>
    <hr/>
   
   	<div class="row">
   		<div class = "span8">
   			Wish to contact us? Write to <strong>theroadclub@@gmail.com</strong>.
   		</div>
   		<div class="span4">
   			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-8867292402158435";
			/* trc_ad */
			google_ad_slot = "6080524058";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			<hr/>
   		</div>
   	</div>
   	
}