@(error: String, user: String, loginForm: Form[User])

@import helper._

@main("TRC - Login")(user) {

	<br/><br/><br/>
    <h4>Login</h4>
    <hr/>
   
    	@form(routes.Application.login()) {
    	
	    	@if(error != null) {
	    		<p class="text-error">@error</p>
	    	}    		
	        
	        <div class="row">
	        	<div class="span4">
	        		@inputText(loginForm("username"), '_label -> "User name") 
	        		@inputPassword(loginForm("password"), '_label -> "Password")
	        	</div>
	        	<div class="span8">
	        		<br/>
	        		<h5>or... Just login with Facebook!<h5>
	        		<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
	        	</div>
	        </div>
	        <input class="btn btn-success" type="submit" value="Login">
        
    	}
        
}