@(error: String, user: String, loginForm: Form[User])

@import helper._

@main("TRC - Login")(user) {

	<br/><br/><br/>
    <h4>Login</h4>
    <p class="text-info">Enable your profile and social network access</p>
    <hr/>
   
    	@form(routes.Application.login()) {
    	
	    	@if(error != null) {
	    		<p class="text-error">@error</p>
	    	}    		
	        
	        <div class="row">
	        	<div class="span4">
	        		@inputText(loginForm("username"), '_label -> "Your Username", 'placeholder -> "Username") 
	        		@inputPassword(loginForm("password"), '_label -> "Your Password", 'placeholder -> "Password")
	        		<input class="btn btn-success" type="submit" value="Login">
	        	</div>
	        	<div class="span4">
	        		<br/>
	        		<h5>or... Just login with Facebook!<h5>
	        		<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
	        	</div>
	        	<div class="span4">
	        		<script type="text/javascript"><!--
					google_ad_client = "ca-pub-8867292402158435";
					/* trc_ad */
					google_ad_slot = "6080524058";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
					<hr/>
				</div>
	        </div>
    	}        
}