@(error: String, user: String, loginForm: Form[User])

@import helper._

@main("TRC - Login")(user) {

	<br/><br/><br/>
    <h4>Login</h4>
    <p class="text-info">Enable your profile and social network access</p>
    <hr/>
   
    	@form(routes.Application.login(), 'name->"loginf") {
    	
	    	@if(error != null) {
	    		<p class="text-error">@error</p>
	    	}    		
	        
	        <div class="row">
	        	<div class="span4">
	        		@inputText(loginForm("username"), '_label -> "Your Username", 'placeholder -> "Username") 
	        		@inputPassword(loginForm("password"), '_label -> "Your Password", 'placeholder -> "Password")
	        		
	        		<input type="hidden" name="userType" id="userType" value="@loginForm.data.get("userType")"/>
	        		<input type="hidden" name="firstName" id="firstName" value="@loginForm.data.get("firstName")"/>
	        		<input type="hidden" name="lastName" id="lastName" value="@loginForm.data.get("lastName")"/>
	        		<input type="hidden" name="email" id="email" value="@loginForm.data.get("email")"/>
	        		<input type="hidden" name="gender" id="gender" value="@loginForm.data.get("gender")"/>
	        		
	        		<input class="btn btn-success" type="submit" value="Login">
	        	</div>
	        	<div class="span4">
	        		<br/>
	        		<h5>or... Just login with Facebook!<h5>
	        		<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
	        	</div>
	        	<div class="span4">
	        		@adsenseSqr()
				</div>
	        </div>
    	}        
}