@(error: String, user: String, signupForm: Form[User])

@import helper._

@main("TRC - Sign-up")(user) {

	<br/><br/><br/>
    <h4>Sign Up</h4>
    <hr/>

	@form(routes.Application.signup()) {
	
		@if(error != null) {
			<p class="text-error">@error</p>
		}    		
	    
	    @inputText(signupForm("username"), '_label -> "User name") 
	    @inputPassword(signupForm("password"), '_label -> "Password")
	    @inputText(signupForm("firstName"), '_label -> "First Name")	    
	    @inputText(signupForm("lastName"), '_label -> "Last Name")	    
	    @inputText(signupForm("email"), '_label -> "Email Id")	    
	    @inputText(signupForm("city"), '_label -> "City")	    
	    @inputText(signupForm("country"), '_label -> "Country")	    
	    @inputDate(signupForm("birthDate"), '_label -> "Birth Date", 'placeholder -> "yyyy-mm-dd")
	    
	    <input class="btn btn-info" type="submit" value="Sign Up">
	    
	}
	
}