@(error: String, user: String, signupForm: Form[User])

@import helper._

@main("TRC - Sign-up")(user) {

	<br/><br/><br/>
    <h4>Sign Up</h4>
    <p class="text-info">or login with Facebook account to skip signing up!</p>
    <hr/>

	@form(routes.Application.signup()) {
	
		@if(error != null) {
			<p class="text-error">@error</p>
		}    		
	    
	    <div class="row">
	    	<div class = "span4">
			    @inputText(signupForm("username"), '_label -> "Preferred Username", 'placeholder -> "Username") 
			    @inputPassword(signupForm("password"), '_label -> "Password", 'placeholder -> "Password")
			    @inputText(signupForm("firstName"), '_label -> "Your First Name", 'placeholder -> "First name")	    
			    @inputText(signupForm("lastName"), '_label -> "Your Last Name", 'placeholder -> "Last name")
				@select(field = signupForm("gender"), options = options("M"->"Male","F"->"Female"), '_label -> "Gender", 'class->"input-small")
			 </div>
			 <div class = "span4">    
			    @inputText(signupForm("email"), '_label -> "Email Id", 'placeholder -> "Email Address")	    
			    @inputText(signupForm("city"), '_label -> "City", 'placeholder -> "City")	    
			    @inputText(signupForm("country"), '_label -> "Country", 'placeholder -> "Country")	    
			    @inputDate(signupForm("birthDate"), '_label -> "Your date of birth", 'placeholder -> "yyyy-mm-dd")
	    	</div>
	    	<div class = "span4">
				@adsenseSqr()
	    	</div>
	    </div>
	    
	    <input class="btn btn-info" type="submit" value="Sign Up">
	}
}