@(error: String, user: String, jsonPlaces: String, tripForm: Form[Trip])

@import helper._

@main("TRC - Log your Trip")(user) {
    
    <br/><br/><br/>
    <h4>Log your Trip</h4>
    <hr/> 
    
	@form(routes.Application.trip()) {
	
		    @if(error != null) {
	    		<p class="text-error">@error</p>
	    	}
	    	
	    	<div class="row">
			    <div class="span4">
			    	
			    	@helper.input(tripForm("origin"), '_label -> "Origin") { (id, name, value, args) =>
    					<input type="text" name="@name" id="@id" data-provide="typeahead" data-items="4" data-source='@jsonPlaces' @toHtmlArgs(args)>
					} 
			        
			        @select(field = tripForm("month"), options = options(("--Choose--","--Choose--"),("Jan","Jan"),("Feb","Feb"),("Mar","Mar"),("Apr","Apr"),("May","May"),("Jun","Jun"),("Jul","Jul"),("Aug","Aug"),("Sep","Sep"),("Oct","Oct"),("Nov","Nov"),("Dec","Dec")), '_label -> "Traveled on the month of")
			        
			        @select(field = tripForm("year"), options = options(("--Choose--","--Choose--"),("2012","2012"),("2013","2013")), '_label -> "Traveled in year")
			        
			        @select(field = tripForm("vehicleType"), options = options(("--Choose--","--Choose--"),("Hatch-back","Hatch-back"),("Sedan","Sedan"), ("SUV/Jeep","SUV/Jeep"),("Bike","Bike")), '_label -> "Vehicle Type")
			    </div>
			    <div class="span4">
			    
			    	@inputText(tripForm("destination[0]"), '_label -> "Destination") 
			        
			        @inputText(tripForm("destination[1]"), '_label -> "Second Destination") 
			        
			        @inputText(tripForm("destination[2]"), '_label -> "Third Destination") 
	        
	        		@inputText(tripForm("vehicle"), '_label -> "Vehicle") 
			    </div>
			    <div class="span4">
			    	<script type="text/javascript"><!--
					google_ad_client = "ca-pub-8867292402158435";
					/* trcsqr */
					google_ad_slot = "1929526058";
					google_ad_width = 250;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
			    </div>
		    </div>       
	        
	        @inputText(tripForm("title"), '_label -> "Title", 'class->"input-xxlarge") 
	        
	        @textarea(field = tripForm("details"), args = 'rows -> 10, 'cols -> 100, '_label -> "Share your experience", 'class->"input-xxlarge")
	        
	        You can add pictures after <input class="btn btn-success" type="submit" value="Submit">
			        
    }
    
}