@(user: String, editorials: List[Editorial])

@main("TRC - Editorial")(user) {
    
    <br/><br/><br/>
    <h4>Editor's Corner</h4>
    <hr/> 
    
    @if(editorials.size == 0) {
    	<h5>No articles yet! But, coming really soon!</h5>
    }
    
	@for(editorial <- editorials) {
	  <h5>@editorial.getTitle()</h5>
	  @if(editorial.getPictureUrl != null) {
	  	<center><img src=@editorial.getPictureUrl /></center>
	  }
	  <p>@Html(editorial.getArticle().replace("\r\n", "<br/>"))</p>
	  <hr/>
	} 
    
}