@(title: String)(user: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" />
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/trc_crop.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/trc.css")" />
    </head>
    <body>
    	<div id="fb-root"></div>
		<script>
		  // Additional JS functions here
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '155817434614316', // App ID
		      channelUrl : '@routes.Assets.at("html/channel.html")', // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });
		
		    // Additional init code here
		
		  };
		
		  // Load the SDK asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		   
		//For Like
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=155817434614316";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		   
		</script>
        <div class="container">
        
        	<div class="navbar navbar-fixed-top navbar-inverse">
        		<div class="navbar-inner">
	    			<ul class="nav">
					<li @if(title.equals("The Road Club")){class="active"}><a href="@routes.Application.index()">Home</a></li>
					<li @if(title.equals("TRC - Search Trips")){class="active"}><a href="#">Search Trips</a></li>
					<li @if(title.equals("TRC - Log your Trip")){class="active"}><a href="@routes.Application.tripEntry()">Log your Trip</a></li>
					<li @if(title.equals("TRC - Places")){class="active"}><a href="#">Places</a></li>
					<li @if(title.equals("TRC - Ask Trip Guru")){class="active"}><a href="@routes.Application.tripGuru()">Ask Trip Guru</a></li>
					<li @if(title.equals("TRC - Editorial")){class="active"}><a href="@routes.Application.editorial()">Editor's Corner</a></li>
					@if(user != null) {
						@if(user.equals("editor")) {
							<li @if(title.equals("TRC - Editorial Entry")){class="active"}><a href="@routes.Application.editorialEntry()">Write Editorial</a></li>
						}
						<li @if(title.equals("TRC - My Account")){class="active"}><a href="@routes.Application.myAccount()">My Account</a></li>
						<li @if(title.equals("TRC - Logout")){class="active"}><a href="@routes.Application.logout()">Logout</a></li>
					} else {
						<li @if(title.equals("TRC - Login")){class="active"}><a href="@routes.Application.loginEntry()">Login</a></li>
						<li @if(title.equals("TRC - Sign-up")){class="active"}><a href="@routes.Application.signupEntry()">Sign-up</a></li>
					}
					</ul>
				</div>
    		</div>
    		
    		<!-- Page specific content -->
    		@content
		    
		    <br/>		    
    		<div class="row">
    			<div class="span8">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-8867292402158435";
					/* trc_ad2 */
					google_ad_slot = "2987456856";
					google_ad_width = 728;
					google_ad_height = 90;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
    			</div>
    			<div class="span4">
    				<img src="@routes.Assets.at("images/trc_logo_min.jpg")" align="right">
    			</div>
    		</div>
    		
    		<br/><br/><br/>
		    
		    <div class="navbar navbar-fixed-bottom navbar-inverse">
		    	<div class="navbar-inner">
						<ul class="nav">
							<li><a href="@routes.Application.index()">TRC | from Watermelon Labs </a></li>
						</ul>
				</div>
		    </div>
	    	
	    </div>
	    
	    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	
    </body>
</html>
