@(title: String)(user: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/trc.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/trc.css")" />
    </head>
    <body>
        <div class="container">
        
        	<div class="navbar navbar-fixed-top navbar-inverse">
        		<div class="navbar-inner">
	    			<ul class="nav">
					<li @if(title.equals("TRC - Home")){class="active"}><a href="@routes.Application.index()">Home</a></li>
					<li @if(title.equals("TRC - Search Trips")){class="active"}><a href="#">Search Trips</a></li>
					<li @if(title.equals("TRC - Log your Trip")){class="active"}><a href="@routes.Application.tripEntry()">Log your Trip</a></li>
					<li @if(title.equals("TRC - Ask Trip Guru")){class="active"}><a href="@routes.Application.tripGuru()">Ask Trip Guru</a></li>
					<li @if(title.equals("TRC - Editorial")){class="active"}><a href="@routes.Application.editorial()">Editor's Corner</a></li>
					@if(user != null) {
						@if(user.equals("editor")) {
							<li @if(title.equals("TRC - Editorial Entry")){class="active"}><a href="@routes.Application.editorialEntry()">Write Editorial</a></li>
						}
						<li @if(title.equals("TRC - My Account")){class="active"}><a href="@routes.Application.myAccount()">My Account</a></li>
						<li @if(title.equals("TRC - Logout")){class="active"}><a href="@routes.Application.logout()">Logout</a></li>
					} else {
						<li @if(title.equals("TRC - Login")){class="active"}><a href="@routes.Application.loginEntry()">Login</a></li>
						<li @if(title.equals("TRC - Sign-up")){class="active"}><a href="@routes.Application.signupEntry()">Sign-up</a></li>
					}
					</ul>
				</div>
    		</div>
    		
    		<!-- Page specific content -->
    		@content
		    
		    <br/>		    
    		<div class="row-fluid">
    			<div class="span12"><img src="@routes.Assets.at("images/trc_logo.jpg")" align="right"></div>
    		</div>
    		
    		<br/><br/><br/>
		    
		    <div class="navbar navbar-fixed-bottom navbar-inverse">
		    	<div class="navbar-inner">
						<ul class="nav">
							<li><a href="#">A Watermelon Labs Product</a></li>
						</ul>
				</div>
		    </div>
	    	
	    </div>
	    
	    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	
    </body>
</html>
