@(error: String, msg: String, user: User)

@import helper._

@main("TRC - My Account")(user.getUsername()) {
    
    <br/><br/><br/>
    <h4>My Account</h4>
    <p class="text-info">View your profile details and the miles you have covered</p>
    <hr/> 
    
	@if(error != null) {
		<p class="text-error">@error</p>
	}    
	@if(msg != null) {
		<p class="text-success">@msg</p>
	}
    
    <div class="row">
    	<div class="span3">	
			<h5>Profile photo</h5>
			@if((user.getProfilePictureUrl()==null)||(user.getProfilePictureUrl().equals(""))) {
				<img src= "@routes.Assets.at("images/def_avatar.png")" class="img-rounded">
			} else {
				<img src= "@user.getProfilePictureUrl()" class="img-rounded">
			}
			@form(action = routes.Application.uploadProfilePic, 'enctype -> "multipart/form-data") {    
		    <input type="file" name="picture">    
		    <p><input class="btn btn-primary btn-small" type="submit" value="Upload"></p>    
			}
		</div>
		<div class="span5">
			<h5>User Information</h5>
			<table class="table table-striped table-hover">
				<tr>
				  <td>Username</td>
				  <td>@user.getUsername()</td>
				</tr>
				<tr>
				  <td>First Name</td>
				  <td>@user.getFirstName()</td>
				</tr>
				<tr>
				  <td>Last Name</td>
				  <td>@user.getLastName()</td>
				</tr>
				<tr>
				  <td>Gender</td>
				  <td>@user.getGender()</td>
				</tr>
				<tr>
				  <td>TRC points / miles</td>
				  <td>@user.getMiles()</td>
				</tr>
			</table>
		</div>
		<div class="span4">
			@adsenseSqr()
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<h5> My trips </h5>
			You have not posted any trips to TRC.
			<br/>
			<a href="@routes.Application.tripEntry()">Post a trip</a>
		</div>
		<div class="span6">
			<h5> My garage </h5>
			@if((user.getGaragePictureUrl()==null)||(user.getGaragePictureUrl().equals(""))) {
				<img src= "@routes.Assets.at("images/def_car.jpg")" class="img-rounded">
			} else {
				<img src= "@user.getGaragePictureUrl()">
			}
			@form(action = routes.Application.uploadGaragePic, 'enctype -> "multipart/form-data") {    
		    Select a new picture <input type="file" name="picture">    
		    <p><input class="btn btn-primary btn-small" type="submit" value="Upload"></p>    
			}
		</div>
	</div>
	
	

		    
}